/* GLOBAL */
body{
    font-family: 'Cuprum', sans-serif; 
    font-size: 1.5rem;
    margin:0;
    padding:0;
}

.font-sec{
    font-family: "Open sans condensed", sans-serif;
}
.font-acc{
    font-family: "Ubuntu", sans-serif;
}

/* -------- HEADER -------- */

.hero-name{

}
.main-brand{
    padding-left: 10%;
    font-size: 1.5rem;
}
a.navbar-brand{
    color:#333;
}
.z-ind{

}
.hero-img{

}
.name-bg{
    z-index: 50;
    float: left;
    margin-top: -120px;
    padding: 2rem 0 1rem 10%;
    background: linear-gradient(45deg, rgba(50,50,50,0.9), rgba(255,255,255,0.1));
}

@media screen and (min-width:768px){
    .name-bg{
        padding: 2rem 0 1rem 14%;
    }
}


.hero-name{
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.8rem;
    color: white;
}
.standout{
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 3.9rem;
    text-transform: uppercase;
    margin-top: 7%;
    margin-left: -6%;
}
.coloration{
    color: #ff0066;
}

@media screen and (min-width: 768px) {
    .standout {
        font-size: 7.5rem;
        line-height: 4.9rem;
        margin-left: -5%;
    }
}
@media screen and (min-width: 992px) {
    .standout {
        font-size: 9.5rem;
        line-height: 6.3rem;
        margin-left: -5%;
    }
}
@media screen and (min-width: 1199px) {
    .standout {
        font-size: 10rem;
        line-height: 6.5rem;
        margin-left: -4%;
    }
}

/* -------- ABOUT -------- */

.langs{
    margin-top: 115px;
    color: #8c8c8c;
    text-transform: uppercase;
}

.brace{
    color: #8c8c8c;
    font-size: 20rem;
    padding-bottom: 5%;
}

 .braceleft{
    margin-left:8%; 
} 

@media screen and (min-width: 768px) {
    .braceleft {
        margin-left:12%; 
    }
}  
.br{
    background-color: #333;
    float: right;
}
.gr{
    background-color: #111;
}

 /* @media screen and (min-width: 1199px) {
    .braceright{
        box-shadow: 42px 20px 129px -85px rgba(50,50,50,0.59);
    }  */

}
.about{
    padding-left:5%;
    /* background-color: #111; */
}
.about-me{
    color: #8c8c8c;
    padding:0 0 0 10%;
    font-weight:700;
}

@media screen and (min-width: 900px){
    .about-me{
        padding-left: 15%;
    }
}
@media screen and (min-width: 1199px){
    .about-me{
        padding-top: 20%;
    }
}
.about-text{
    color: #8c8c8c;
    padding:5% 10% 0 10%;
    font-size: 1.2rem;
}
@media screen and (min-width: 900px){
    .about-text{
        padding:5% 15% 0 15%;
    }
}
@media screen and (min-width: 1199px){
    .about-text{
    }
}
.social-links{
    margin-left: 10%;
}
.social-link-item{
    display: inline-block;
    width:60px;
    height:60px;
    border: 3px solid #8c8c8c;
    border-radius: 50%;
    background-size: 80%;
    background-position: center;
    margin: 5% 0 5% 0;
    
}
.sli-first{
    background-image: url("../images/git.png");
    transition: box-shadow 0.7s;
}
.sli-first:hover{
    background-image: url("../images/git_hover.png");
    box-shadow: 5px 5px 10px rgba(255,0,102, 0.9);
}
.sli-second{
    background-image: url("../images/fbook.png");
    transition: box-shadow 0.7s;
}
.sli-second:hover{
    background-image: url("../images/fbook_hover.png");
    box-shadow: 5px 5px 10px rgba(255,0,102, 0.9);
}
.sli-third{
    background-image: url("../images/behance.png");
    transition: box-shadow 0.7s;
}
.sli-third:hover{
    background-image: url("../images/behance_hover.png");
    box-shadow: 5px 5px 10px rgba(255,0,102, 0.9);
}

a.social-link-item:hover{
    text-decoration: none;
    border: 3px solid #8c8c8c;
}


/* -------- GALLERY -------- */
.section{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    color:#555;
    padding:3rem 0 0 7rem;
}
.gallery-slider{
    padding: 0;
}
.showcase{
    width: 100%;
    height: 200px;
    background-color: #ff0000;
    overflow: scroll;
    white-space: nowrap;   
}
@media screen and (min-width:992px){
    .showcase{
        /* margin-top: 140px; */
    }
}
.showcase-item{
background-color: rgba(50,50,50,0.3);
width:300px;
height:600px;
}
.showcase-item:hover{
    background-color: #ff0066;
}
@media screen and (min-width:1199px){
    .showcase-item{
        width:95%;
        padding:0;
        height:750px;
    }
}
.showcase-intro{
    font-size:1.2rem;
    font-weight:bold;
    color:#555;
}
.showcase-title{
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-transform: uppercase;
}
.showcase-description{
    font-size: 1.2rem;
    line-height: 1.4rem;   
}
.showcase-color{
    color:#999;
}

/* -------- CONTACT -------- */
.section-contact{
    margin-top:10%;
}
.contact-logo{
    opacity: 0.2;
   }
.img-logo{
    width: 20%;
}

.plain-white{

    background-color: #fff;
    /* box-shadow: -88px 67px 275px -64px rgba(50,50,50,0.3);  */
}
.input-group-text{
    background-color: #222;
    color: #ddd;
    width:100px;
}
@media screen and (min-width:768px){
    .input-group-text{
        width:150px;
    }
}
@media screen and (min-width:1199px){
    .input-group-text{
        width:200px;
    }
}

.contact-leftpad{

}
.first-field{

}
.about{
    font-size:1rem;
}
.form-intro{
    font-size:1.4rem;
    font-weight:;
    color:#555;

}
.contact-asterisk{
    font-size: 0.8rem;
    color: #aaa;
}
.btn-pink{
    background-color: #ff0066;
    color: #fff;
}
.credits{
    margin-top: 120px;
}
.credits-line{
    font-size: 0.7rem;
    font-weight:bold;
    color: #aaa;  
}
